/* STYLE FOOTER */
.headerlogo {
  background-color: darkslategrey;
  width: 100%;
  height: 100px;
  border-radius: 0 0 5px 5px;
  margin-bottom: 80px;
}

.imgsupportheader img {
  width: 100px;
  float: right;
  margin-top: -110px;
  padding-right: 30px;
}

.headerlogo h1 {
  font-size: 30px;
  font-family: georgia;
  padding-left: 20px;
  padding-top: 20px;
  color: grey;
  text-shadow: 2px 2px 1px black;
  font-weight: bold;
  text-decoration: underline;
}

.headerlogo ul li {
  display: inline-block;
  margin: 20px;
}

.headerlogo a {
  text-decoration: none;
  color: black;
  font-family: arial;
  font-size: 13px;
  margin-left: 17px;
  font-weight: bold;
  transition: 0.5s;
}

.headerlogo a:hover {
  text-shadow: 0 0 4px white;
  font-size: 14px;
  transition: 0.5s;
}

/* STYLE FOOTER */

.footer {
  background-color: darkslategrey;
  margin-top: 50px;
  margin-bottom: 0;
  height: 110px;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.footer p {
  font-family: arial;
  font-weight: bold;
  text-align: center;
  display: block;
  line-height: 24px;
  font-size: 13px;
  float: right;
  padding-right: 500px;
  margin-top: 80px;
  background-color: darkslategrey;
  color: rgb(104, 99, 99);
  text-shadow: 0 0 2px black;
}

.footer a {
  color: rgb(104, 99, 99);
  text-decoration-line: none;
  transition: 0.5s;
  text-shadow: 0 0 2px black;
}

.footer a:hover {
  text-shadow: 0 0 2px whitesmoke;
  transition: 0.5s;
}

.imgsupport img {
  width: 18px;
  display: block;
  padding: 5px;
  padding-top: 8px;
  margin-top: 6px;
  margin-left: 20px;
  transition: 0.8s;
}

.imgsupport img:hover {
  box-shadow: 0 0 4px white;
  width: 19px;
  background-color: rgb(61, 119, 119);
  border-radius: 20%;
  transition: 0.5s;
}

/* STYLE MAIN */

.headline {
  opacity: 0.9;
  margin-bottom: 210px;
  margin-top: -20px;
  text-align: center;
  text-decoration: underline;
  font-size: 60px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 0 0 5px darkslategrey;
}

.ventela img {
  width: 200px;
  margin-left: 40px;
  box-shadow: 0 0 2px black;
  margin-bottom: 5px;
}

.geoffmax img {
  width: 200px;
  margin-left: 40px;
  box-shadow: 0 0 2px black;
  margin-bottom: 5px;
}

.johnson img {
  width: 200px;
  margin-left: 40px;
  box-shadow: 0 0 2px black;
  margin-bottom: 5px;
}

.redknot img {
  width: 200px;
  margin-left: 40px;
  box-shadow: 0 0 2px black;
  margin-bottom: 5px;
}

.aerostreet img {
  width: 200px;
  margin-left: 40px;
  box-shadow: 0 0 2px black;
  margin-bottom: 5px;
}

.ilustrasi {
  color: grey;
  font-size: 12px;
  margin-top: -2px;
  margin-left: 65px;
  margin-bottom: 20px;
}

.desc {
  margin-left: 30px;
  margin-bottom: 20px;
}

.goshop {
  margin-left: 2px;
  margin-bottom: 80px;
  margin-top: 5px;
}

.goshop:hover {
  text-shadow: 0 0 2px burlywood;
  font-size: 16px;
}

.goshop img {
  width: 20px;
  box-shadow: 0 0 2px white;
  float: left;
  margin-right: 8px;
  margin-top: -3px;
}

.goshop img:hover {
  width: 21px;
}

.goshop a {
  color: black;
  text-decoration-line: none;
}

.goshop a:hover {
  font-family: arial;
}

.overlay {
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0);
  z-index: 9999;
  transition: 0.8s;
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  text-align: center;
  padding: 100px;
}

.overlay:target {
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  right: 0;
  width: auto;
  height: auto;
  opacity: 1;
}

.overlay img {
  box-shadow: 0 0 3px white;
}

.overlay:target img {
  animation: Zoominout 1s;
}

.overlay .close {
  color: black;
  text-decoration: none;
  font-family: arial;
  font-weight: bold;
  background-color: grey;
  font-size: 15px;
  box-shadow: inset 0 0 2px white;
  text-shadow: 0 0 1px white;
  border-radius: 3px;
  border: 1px solid black;
  line-height: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.overlay:target .close {
  animation: Slide 5s 5s forwards;
}

@keyframes Zoominout {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes Slide {
  0% {
    opacity: 0;
    margin-top: -20;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
