.headerlogo {
  background-color: darkslategrey;
  width: 100%;
  height: 100px;
  border-radius: 0 0 5px 5px;
  margin-bottom: 80px;
}

.imgsupportheader img {
  width: 100px;
  float: right;
  margin-top: -110px;
  padding-right: 30px;
}

.headerlogo h1 {
  font-size: 30px;
  font-family: georgia;
  padding-left: 20px;
  padding-top: 20px;
  color: grey;
  text-shadow: 2px 2px 1px black;
  font-weight: bold;
  text-decoration: underline;
}

.headerlogo ul li {
  display: inline-block;
  margin: 20px;
}

.headerlogo a {
  text-decoration: none;
  color: black;
  font-family: arial;
  font-size: 13px;
  margin-left: 17px;
  font-weight: bold;
  transition: 0.5s;
}

.headerlogo a:hover {
  text-shadow: 0 0 4px white;
  font-size: 14px;
  transition: 0.5s;
}

/* STYLE FOOTER */

.footer {
  background-color: darkslategrey;
  margin-top: 50px;
  margin-bottom: 0;
  height: 110px;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.footer p {
  font-family: arial;
  font-weight: bold;
  text-align: center;
  display: block;
  line-height: 24px;
  font-size: 13px;
  float: right;
  padding-right: 500px;
  margin-top: 80px;
  background-color: darkslategrey;
  color: rgb(104, 99, 99);
  text-shadow: 0 0 2px black;
}

.footer a {
  color: rgb(104, 99, 99);
  text-decoration-line: none;
  transition: 0.5s;
  text-shadow: 0 0 2px black;
}

.footer a:hover {
  text-shadow: 0 0 2px whitesmoke;
  transition: 0.5s;
}

.imgsupport img {
  width: 18px;
  display: block;
  padding: 5px;
  padding-top: 8px;
  margin-top: 6px;
  margin-left: 20px;
  transition: 0.8s;
}

.imgsupport img:hover {
  box-shadow: 0 0 4px white;
  width: 19px;
  background-color: rgb(61, 119, 119);
  border-radius: 20%;
  transition: 0.5s;
}

/* MAIN STYLE */

.heroimage img {
  width: 700px;
  margin-left: 240px;
}

.heroimage p {
  color: grey;
  font-style: italic;
  text-align: center;
  margin-top: 5px;
}

.judul {
  margin-top: 70px;
  font-weight: bold;
  font-size: 20px;
  margin-left: 50px;
}

.desk {
  margin-top: 50px;
  margin-left: 50px;
}
